.modalBackGround {
    display: block;
    position: fixed;
    inset: 0;
    font-family: NotoSansCJKkr;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.modalBackGround .modalBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    z-index: 102;
    width: 330px;
}
.modalBody .modalCloseBtn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    display: inline-block;
}

.modalBody .confirmText {
    margin: 44px 32px 24px;
    letter-spacing: -0.5px;
    text-align: center;
}

.confirmText .msg {
    padding-bottom: 8px;
    line-height: 24px;
    font-size: 16px;
    white-space: pre;
    font-weight: 600;
}

.confirmText .subMsg {
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
    color: rgb(155, 155, 155);
    white-space: pre;
}
.modalFooter {
    margin: 0px 24px 24px;
    display: flex;
    justify-content: space-between;
}

.modalFooter button {
    width: 130px;
    height: 40px;
    cursor: pointer;
}
.cancelModalBtn,
.confirmModalBtn {
    border-radius: 2px;
    outline: none;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(225, 225, 225);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmModalBtn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.modalFooter button:first-child {
    margin-right: 12px;
    border-color: rgb(0, 0, 0);
}
