@charset "UTF-8";

.backGround{
	background-color: #fafafa;
}

.wrapper {
	max-width: 1200px;
    min-height: calc(100vh - 73px);
    margin: 0px auto;
    padding: 70px 0px 100px;
    font-family: NotoSansCJKkr;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(125, 125, 125, 0.05) 0px 0px 15px 0px;
}

.formContainer {
	max-width: 964px;
	margin: 0px auto;
	width: 554px;
}

.formHeader {
	position: relative;
	letter-spacing: -0.5px;
}

/* 회원가입 제목 */
.signUpTitle span {
	display: inline-block;
	position: relative;
	font-size: 40px;
	font-weight: bold;
	line-height: 59px;
	letter-spacing: -1px;
}

.formHeader .signUpOrder {
	position: absolute;
    top: 0px;
    right: 0px;
}


.signUpOrder img {
	width: 12px;
    height: 12px;
    margin: 0px 8px;
    vertical-align: middle;
}

.signUpOrderActive {
	font-size: 13px;
	font-weight: 400;
	text-align: right;
	color: #000000;
	line-height: 60px;
	vertical-align: middle;
	margin: 0;
}

.signUpOrderInactive {
	font-size: 13px;
	font-weight: 400;
	text-align: right;
	color: #d5d4d5;
	line-height: 60px;
	vertical-align: middle;
	margin: 0;
}

.signUpText {
	margin-top: 10px;
	margin-bottom: 80px;
}

.signUpText span {
	margin-top: 10px;
	margin-bottom: 80px;
}

.inputContainer {
	position: relative;
	margin-bottom: 2px;
	margin-top: 20px;
	color: #000000;
}

.inputContainer label {
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 0px;
	color: #b8b9b8;
}

.inputContainer input {
	border: none;
	width: 510px;
	height: 40px;
	font-size: 13px;
	padding-left: 5px;
	padding-bottom: 0px;
}
.certification {
	border-radius: 3px;
	background-color: #dddddd;
	color: #ffffff;
	font-size: 12px;
	width: 88px;
	height: 25px;
	margin-left: 0px;
}

.inputContainer .underline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 550px;
	height: 1px;
	background-color: #ededed;
}

.inputContainer input:focus ~ .underline {
	background-color: #000000;
}

.inputContainer input:focus {
	outline: none;
}

.emailError, .passwordErrorCheck, .passwordError{
	color: rgb(254, 79, 0);
	font-size: 11px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
}
.emailValidIcon, .passwordValidIcon, .passwordValidIcon1{
	width: 30px;
	height: 30px;
	display: none;
	margin: 0 5px 0 0px;
	padding-bottom: 0;
}
.email, .password, .passwordCheck{
	color:#000000;
}

/* 다음 버튼 */
.nextButton {
	display: inline-block;
	width: 550px;
	height: 45px;
	background-color: #DDDDDD;
	color: #ffffff;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 130px;
}




