@charset "UTF-8";

/* 로그인 폼 */
* {
    font-family: "Noto Sans KR", sans-serif;
}
.background {
    background-color: #fafafa;
}
.outerWrapper {
    background-color: #ffffff;
    margin: 0 160px;
    border: none;
    box-shadow: 0px 0px 5px #f7f7f7;
    min-height: calc(100vh - 218px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 로그인 제목 */
.signinTitle {
    line-height: 32.2px;
    font-size: 28px;
    text-align: center;
    flex-grow: 1;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* 이메일, 비밀번호 */
.inputContainer {
    position: relative;
}

.inputContainer label {
    display: block;
    font-size: 12px;
    color: #b8b9b8;
    font-weight: 400;
    margin-top: 20px;
}

.inputContainer input {
    font-family: "Barlow", sans-serif;
    border: none;
    width: 370px;
    height: 25px;
    font-size: 14px;
    padding: 9px 0px 8px;
    font-weight: 400;
}
.inputContainer .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 1px;
    background-color: #ededed;
}
.inputContainer input:focus ~ .underline {
    background-color: #000000;
}
.inputContainer input:focus {
    outline: none;
}
.inputContainer img {
    position: absolute;
    top: 40%;
    right: 5px;
    width: 30px;
    height: 30px;
}
.email,
.password {
    color: #000000;
}

.emailError,
.passwordError {
    color: rgb(254, 79, 0);
    font-size: 11px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}

.emailValidIcon,
.passwordValidIcon {
    display: none;
}

/* 로그인 유지하기 버튼*/
.checkboxContainer {
    font-size: 12px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    margin: 10px 15px 5px 0;
    line-height: 13.8px;
    float: left;
    font-weight: 400;
    text-align: start;
}

.checkboxContainer input {
    display: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.checkboxContainer input:checked ~ .checkmark {
    background-color: #6200f0;
    border-color: #6200f0;
}

.checkboxContainer input:checked ~ span {
    color: #ffffff;
    font-weight: bold;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: scale(0.9) rotate(45deg);
}

.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}

/* 아이디 찾기, 비밀번호 찾기*/

.finder {
    text-align: right;
    font-size: 12px;
    position: relative;
    right: 10px;
    margin: 10px 0 5px 0;
    float: right;
    line-height: 13.8px;
}

a {
    color: #000000;
    text-decoration: none;
}

/* 로그인 버튼 */
.signInButton {
    border-radius: 2px;
    outline: none;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.3px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    margin-top: 30px;
}

.signInButton:disabled {
    background-color: rgb(211, 211, 211);
}

/* 일반 텍스트 */
.text1,
.text2 {
    font-size: 12px;
    color: #b8b9b8;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
}

/* 회원가입 버튼 */
.signUpButton {
    width: 370px;
    height: 45px;
    background-color: #ffffff; /* 버튼 배경색 */
    color: #000000; /* 버튼 텍스트 색상 */
    font-size: 14px; /* 버튼 텍스트 크기 */
    font-weight: normal; /* 버튼 텍스트 굵기 */
    border: 1px solid #e1e1e1; /* 버튼 테두리 없애기 */
    border-radius: 3px; /* 버튼 모서리 둥글게 만들기 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 알리기 */
}

/* SNS 계정 버튼 */
.socialIcon {
    text-align: center;
    align-items: center;
}
.socialIconKakao,
.socialIconNaver,
.socialIconFacebook,
.socialIconApple {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 100px;
}
.socialIconKakao {
    background-image: url("./img/auth_social_kakao_round_btn.png");
}
.socialIconNaver {
    background-image: url("./img/auth_social_naver_round_btn.png");
}
.socialIconFacebook {
    background-image: url("./img/auth_social_facebook_round_btn.png");
}
.socialIconApple {
    background-image: url("./img/auth_social_apple_round_btn.png");
}
