@charset "UTF-8";


/* 폼 가운데 정렬*/
.background{
	background-color: #fafafa;
}
.outerWrapper{
	background-color: #ffffff;
	margin: 0 160px;
	border: none;
	box-shadow: 0px 0px 5px #F7F7F7;
}

.formContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.form1 {
	width: 550px;
	height: auto;
	margin-top: 30px;
	align-items: center;
	text-align: left;
	position: relative;
	flex-direction: column;
}

/* 이용약관동의 제목 */
.termsOfService {
	display: inline-block;
	position: relative;
	font-size: 38px;
	font-weight: 700;
    letter-spacing: -1px;
	text-align: left;
	line-height: 60px;
	margin-right: 55px;
	margin-top: 70px;
}

.form1 .signupOrder {
	display: inline-block;
	position: relative;
	left:60px;
	bottom:15px;
}

.signupOrderActive {
	font-size: 13px;
	font-weight: 400;
	text-align: right;
	color: #000000;
	line-height: 60px;
	vertical-align: middle;
	margin: 0;
}

.signupOrderInactive {
	font-size: 13px;
	font-weight: 400;
	text-align: right;
	color: #d5d4d5;
	line-height: 60px;
	vertical-align: middle;
	margin: 0;
}

.signupText {
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 80px;
}

/* 활성화 비활성화 이미지 */
.formContainer img {
	width: 13px;
	height: auto;
	vertical-align: middle;
	margin: 0;
}

/* 이용약관동의 버튼*/
.checkboxContainer {
	font-size:12px;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	margin-right: 15px;
	line-height: 13.8px;
	float: left;
	font-weight: 400;
	text-align: start;
	margin-bottom:20px;
}

.checkboxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 17px;
	width: 17px;
	border-radius: 50%;
	border: 1px solid #ccc;
}

.checkboxContainer input:checked ~ .checkmark {
	background-color: #6200f0;
	border-color: #6200f0;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 5px;
	top: 2px;
	width: 5px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: scale(0.9) rotate(45deg);
}
.checkboxContainer input:checked ~ .checkmark:after {
	display: block;
}

/*이용약관동의 글씨*/
.checkboxContainer strong{
	font-size:13px;
}

.checkboxContainer .letter{
	font-size:13px;
}
.agreeSection{
	position: relative;
	margin-top: 17px;
	margin-bottom: 10px;
}
.underline {
	position: absolute;
	width: 550px;
	height: 0.7px;
	background-color: #ededed;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 0px;
}

.agreeSection .link1{
	margin-left: 290px;
}

.agreeSection .link2{
	margin-left: 322px;
}

.agreeSection a{
	color: #9b9b9b;
}

.icon {
	cursor: pointer;
}

.icon.hidden {
	display: none;
}
.content.hidden {
	display: none;
}
.content {
	display: block;
	margin-left: 20px;
	margin-top: 0;
}
.down, .up{
	width:12px;
	height: 12px;
	margin-left: 230px;
}

/* 다음 버튼 */
.nextButton {
	display: inline-block;
	width: 550px;
	height: 45px;
	background-color: #DDDDDD;
	color: #ffffff;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 130px;
}

