@charset "UTF-8";

/* 폼 가운데 정렬*/
.background{
	background-color: #fafafa;
}
.outerWrapper{
	max-width: 1200px;
	min-height: calc(100vh - 73px);
	margin: 0px auto;
	padding: 70px 0px 100px;
	font-family: NotoSansCJKkr;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(125, 125, 125, 0.05) 0px 0px 15px 0px;
}
.outerWrapper .innerWrapper > * {
	margin: 0px auto;
}
.innerWrapper {
	max-width: 964px;
	margin: 0px auto;
}
.signUpContainer {
	width: 554px;
}
.signUpHeader {
	position: relative;
	letter-spacing: -0.5px;
}

/* 회원가입 제목 */
.signupTitle {
	display: inline-block;
	position: relative;
	font-size: 40px;
	font-weight: bold;
	line-height: 59px;
	letter-spacing: -1px;
	margin-bottom: 16px;
}

.signUpContainer .signupOrder {
	display: inline-block;
	position: relative;
	text-align: right;
    left: 180px;
    bottom: 23px;
}

.signupOrder img{
	width: 13px;
	height: auto;
}

.signupOrderActive {
	font-size: 13px;
	font-weight: 400;
	text-align: right;
	color: #000000;
	line-height: 60px;
	vertical-align: middle;
	margin: 0;
}

.signupOrderInactive {
	font-size: 13px;
	font-weight: 400;
	text-align: right;
	color: #d5d4d5;
	line-height: 60px;
	vertical-align: middle;
	margin: 0;
}

.signupText {
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 82px;
}

.phoneError, .authenticationError{
	color: red;
	font-size: 11px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
}
.authenticationValidIcon{
	width: 30px;
	height: 30px;
	display: inline;
	visibility: hidden;
	margin: 0 5px 0 55px;
}
.phone, .authentication{
	color:#000000;
}

.inputContainer .underline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 550px;
	height: 1px;
	background-color: #ededed;
}

.inputContainer input:focus ~ .underline {
	background-color: #000000;
}

.inputContainer input:focus {
	outline: none;
}

/* 활성화 비활성화 이미지 */
.signUpContainer img {
	vertical-align: middle;
}

/* 이메일 비밀번호 비밀번호 확인*/
.inputContainer {
	position: relative;
	display: flex;
}

.inputContainer label {
	top: -16px;
	font-size: 12px;
	letter-spacing: -0.3px;
	position: absolute;
	bottom: 8px;
	left: 0px;
	height: 18px;
	line-height: 18px;
	color: rgb(155, 155, 155);
	pointer-events: none;
}

.inputContainer input {
	font-size: 14px;
	width: 100%;
	height: 18px;
	padding: 9px 0px 8px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-image: initial;
	border-radius: 0px;
	border-bottom: 1px solid rgb(237, 237, 237);
	outline: none;
	background: transparent;
	color: rgb(0, 0, 0);
	line-height: 19px;
	font-family: Barlow;
}

.addOn {
	position: absolute;
	top: 6px;
	right: 0px;
	z-index: 10;
}

.authenticationBtn {
	border-radius: 2px;
	outline: none;
	border: 1px solid transparent;
	text-align: center;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
.authenticationBtn:disabled {
	background-color: rgb(221, 221, 221);
}
.addOn .certification {
	font-size: 11px;
	font-weight: 500;
	letter-spacing: -0.3px;
	width: 83px;
	height: 25px;
	cursor: pointer;
}
button.certification { padding: 0;}
.numStr {
	margin-top: 34px;
}
/* 다음 버튼 */
.nextButton {
	border-radius: 2px;
	outline: none;
	border: 1px solid transparent;
	text-align: center;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.3px;
	height: 40px;
	width: 181px;
	line-height: 40px;
}
.nextButton:disabled {
	background-color: rgb(211, 211, 211);
}
.signUpContent .nextButton {
	margin: 43px 0px 24px;
	width: 100%;
	height: 48px;
	cursor: pointer;
}