/* header */
a {
    color: black;
}
.mainMenu a:nth-child(2) {
    color: #000;
}

/*brand main*/
main {
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

/*brand top*/
.adHeader {
    margin: 0 0 24px;
}
.topSection {
    display: flex;
}
.adTitleText,
.scTitleText {
    font-size: 20px;
    margin: 50px 12px 20px;
    font-weight: 700;
}
.adBrandTextOnImg {
    position: relative;
    bottom: 30px;
    left: 65px;
    font-family: "Barlow";
    color: #fff;
    margin-left: 10px;
}
.earthImg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.brandHoverContent {
    position: relative;
    display: none;
    padding-left: 65px;
    bottom: 145px;
    font-family: "Barlow";
    color: #fff;
}
.arrowImgSection {
    width: 110px;
    height: 45px;
}
.arrowImg {
    width: 15px;
    height: 15px;
    margin-left: 50px;
}
.adTitleImg01 {
    display: flex;
    list-style: none;
    height: 250px;
}
.adTitleImg01:hover {
    opacity: 0.7;
}
.topImg {
    width: 250px;
    height: 250px;
}

/* bottom section */
.scMenuArea {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 56px;
}
.scBrand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}
a.brandLink {
    display: flex;
    gap: 24px;
    align-items: center;
}
.brandRankingImage {
    width: 100px;
    height: 100px;
    border-radius: 70%;
}
.scBrandTitleSection {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.scBrandTitle {
    font-weight: bold;
    color: #0c0c0c;
    font-size: 14px;
}
.scBrandTagList {
    color: #a3a3a3;
    font-size: 13px;
}

.brandLikeBtn {
    border: none;
    cursor: pointer;
}
.likeBlank {
    height: 14px;
    width: 15px;
}
.likeFull {
    height: 15px;
    width: 16px;
    display: none;
}
