/* header */
* {
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
body {
    margin: 0 auto;
    line-height: 1.15;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 90;
    width: 100%;
    min-width: 1024px;
    box-shadow: rgb(237, 237, 237) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
a {
    color: black;
}
.headerWrap {
    display: flex;
    position: relative;
    align-items: center;
    padding: 20px 70px;
}
.amondzLogo {
    width: 134px;
    margin-right: 80px;
}
.mainMenu {
    display: flex;
    gap: 40px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(155, 155, 155);
    line-height: 22px;
    letter-spacing: -0.5px;
}
.mainMenu a:link,
.mainMenu a:visited {
    color: inherit;
}
.mainMenu a:hover,
.mainMenu a:active {
    color: #000;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 345px;
    padding: 8px 0px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(237, 237, 237);
    color: rgb(155, 155, 155);
    cursor: pointer;
}
.search img {
    width: 20px;
    height: 20px;
}
.authMenu {
    display: flex;
    gap: 30px;

    font-family: Barlow;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: rgb(155, 155, 155);
}
/* search modal */
.searchModal {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(197, 197, 197, 0.5) 0px 2px 11px 0px;
    min-width: 600px;
    max-width: 650px;
    height: auto;
    padding: 20px 16px 40px;
}
.searchForm {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: rgb(155, 155, 155);
    cursor: pointer;
    border: none;
}
.searchForm form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(237, 237, 237);
}
.searchForm input {
    width: 100%;
    color: #ccc;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 4px;
}
.searchForm img {
    width: 20px;
    height: 20px;
}
.closeBtn {
    width: 50px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: rgb(155, 155, 155);
    font-size: 16px;
}
.searchModal p {
    font-size: 18px;
    margin-bottom: 16px;
}
.searchRecommend {
    display: flex;
    gap: 10px;
}
.searchRecommend > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.searchRecommend img {
    width: 115px;
    height: 115px;
    margin-bottom: 10px;
}
.searchRecommend span {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.5px;
}

/*brand main*/
.main {
    width: 1024px;
    margin: auto;
}
/*brand top*/
.adHeader {
    margin: 0 0 24px;
}
.topSection {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 240px;
}
.adTitleText,
.scTitleText {
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 10px;
}
.adBrandTextOnImg {
    position: relative;
    bottom: 30px;
    left: 65px;
    font-family: "Barlow";
    color: #fff;
    margin-left: 10px;
}
.earthImg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.brandHoverContent {
    position: relative;
    display: none;
    padding-left: 65px;
    bottom: 145px;
    font-family: "Barlow";
    color: #fff;
}
.arrowImgSection {
    width: 110px;
    height: 45px;
}
.arrowImg {
    width: 15px;
    height: 15px;
    margin-left: 50px;
}
.adTitleImg01 {
    display: flex;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 250px;
}
.adTitleImg01:hover {
    opacity: 0.7;
}
.topImg {
    width: 240px;
    height: 240px;
}
.scTotalArea {
    margin-top: 30px;
}
.scBrand {
    display: flex;
    align-items: center;
    box-shadow: rgb(229, 229, 229) 0px -0.5px 0 0 inset;
    height: 160px;
    width: 450px;
}
.scMenuArea {
    display: flex;
    margin-top: 20px;
    list-style: none;
}
.middle {
    width: 50px;
    height: 100px;
    margin: 0;
}
.brandLink {
    display: flex;
    width: 450px;
}
.brandInfoSection {
    display: flex;
    width: 450px;
    align-items: center;
}
.numberSection {
    margin-right: 25px;
    margin-top: 37px;
}
.scBrandLogoImage {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
}
.scBrandTitleSection {
    margin-left: 25px;
    margin-top: 30px;
    text-align: left;
}
.scBrandTitle {
    font-weight: bold;
    color: #0c0c0c;
    font-size: 14px;
}
.scBrandTagListBox {
    margin-top: 5px;
}
.scBrandTagList {
    color: #a3a3a3;
    font-size: 13px;
}
.brandLikeBtn {
    border: none;
    background-color: transparent;
    font-size: 0px;
    cursor: pointer;
}

.likeFull {
    display: none;
}

.lineImg {
    width: 450px;
}
.brandRankinImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
footer {
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    min-width: 1024px;
}
.footer1 {
    display: flex;
    padding: 40px;
    gap: 100px;
    justify-content: space-between;
    border-top: 1px solid rgb(237, 237, 237);
    border-bottom: 1px solid rgb(237, 237, 237);
}
.footer1Left {
    display: flex;
    gap: 100px;
}
.footer1Left a {
    min-width: 50px;
}
.footer1Left div {
    min-width: 500px;
}
.footer1Left div ul {
    font-weight: 400;
    font-size: 11px;
    color: #777;
}
.footer1Right {
    display: flex;
    gap: 100px;
    min-width: 500px;
}
.footerChannels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerChannels > div {
    display: flex;
    justify-content: space-between;
}
