.sessionData {
    display: none;
}

.background {
    background-color: #fafafa;
}
.outerWrapper {
    max-width: 1200px;
    min-width: 1200px;
    min-height: calc(100vh - 73px);
    margin: 0 auto;
    padding: 0 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(125, 125, 125, 0.05) 0px 0px 15px 0px;
}

/* slider */
.bothSizeSectionWrap {
    position: relative;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.productImagesSection {
    position: relative;
    width: 550px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.productThumbnail {
    position: relative;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(225, 225, 225);
}
.swiperSlide {
    position: relative;
    width: 550px;
    height: 550px;
    overflow: hidden;
}
.mainThumbnailList {
    display: flex;
    position: absolute;
}
.mainThumbnailList > img {
    width: 550px;
    height: 550px;
}
.swiperButtonPrev,
.swiperButtonNext {
    position: absolute;
    top: 50%;
    margin: 0 10px;
    z-index: 10;
    cursor: pointer;
}
.swiperButtonPrev {
    display: none;
}
.swiperButtonNext {
    right: 0;
}
.swiperButtonPrev > img,
.swiperButtonNext > img {
    width: 32px;
    height: 32px;
}
.productThumbnailImageList {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.productThumbnailImageList > img {
    width: 72px;
    height: 72px;
    border-radius: 5%;
}
.productThumbnailImageList > img:first-child {
    opacity: 0.6;
}

/*devlieryInfo*/
.deliveryTypeInfo {
    padding-top: 50px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
.deliveryType {
    display: flex;
    align-items: center;
}
.deliveryTypeInfoBtn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0;
}
.inquiryStoreBtn {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-decoration-line: underline;
    cursor: pointer;
    margin-left: auto;
}
.deliveryTypeDescription {
    margin-top: 10px;
    padding: 20px;
    width: 510px;
    border-radius: 2px;
    background-color: #f7f7f7;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.5px;
}
.deliveryTypeDescriptionLabel {
    margin-right: 3px;
    text-decoration: underline;
}
.deliveryTypeDescription > div {
    display: inline-block;
    vertical-align: top;
}
.deliveryTypeDescriptionLabel {
    margin-right: 3px;
    text-decoration: underline;
}
.deliveryTypeSection > div {
    display: inline-block;
    vertical-align: top;
}
.storeNoticeSection {
    margin-top: 15px;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 19px;
}
.storeNoticeTitle {
    margin-bottom: 8px;
    font-weight: bold;
}
.storeNoticeContents {
    max-height: 60px;
    overflow: hidden;
}
.storeNoticeContents > p {
    line-height: 20px;
}

/* ������, ����*/
.storeNoticeOpenBtn,
.storeNoticeCloseBtn {
    margin: 10px 0 16px;
    color: rgb(155, 155, 155);
    cursor: pointer;
}
.storeNoticeCloseBtn {
    display: none;
}

/* info modal btns */
.refundInfoBtn,
.asInfoBtn {
    cursor: pointer;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.5px;
    margin: 12px 0 12px;

    display: flex;
    align-items: center;
    gap: 7px;
}
.refundInfoBtn > img,
.asInfoBtn > img {
    width: 16px;
    height: 16px;
}

.underline {
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #ededed;
    margin: 5px 0;
}

/* ���� ĭ �̹��� */
.productDetailImages {
    overflow: hidden;
}
.productDetailImages > img {
    box-sizing: border-box;
    display: inline-block;
    width: 550px;
    height: auto;
    position: relative;
    max-width: 100%;
}

/* ������ ĭ: productInfoSection */
.productInfoSection {
    position: sticky;
    padding-top: 40px;
    top: 0;
    width: 400px;
    height: 750px;
}
.storeInfo {
    margin-bottom: 0;
    padding-bottom: 0;
}
.storeInfo > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
}
.storeInfo .storeName {
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgb(0, 0, 0);
}
.underline2 {
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #ededed;
    margin: 16px 0;
}

.iconswrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge .deliveryBadge {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.badge .deliveryBadge > span {
    font-size: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    padding: 4px 8px;
}
.badge .deliveryBadge > span:first-child {
    background-color: #6200f0;
}
.urlCopy {
    margin-left: auto;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.productInfoSection > a {
    text-decoration: none;
}
.productLike {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    line-height: 26px;
    margin-left: 10px;
    /* width ������ url ������ �и� */
    width: 70px;
}
.productLikeHeart {
    height: 16px;
    width: 19px;
    cursor: pointer;
}
.productLikeHeartViolet {
    display: none;
    height: 17px;
    width: 19px;
    cursor: pointer;
}

.productLikeCnt {
    font-family: "Barlow", sans-serif;
}
.productName {
    margin: 10px 0;
    font-size: 16px;
    line-height: 24px;
}
.productReviewRate {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}
.productReviewMore > img {
    width: 12px;
    height: 12px;
}
.productReviewMoreText {
    display: flex;
    justify-content: center;
    align-items: center;
}
.productReviewMoreText a:link,
.productReviewMoreText a:visited,
.productReviewMoreText a:hover,
.productReviewMoreText a:active {
    font-size: 12px;
    font-weight: 500;
    color: black;
    padding: 4px 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.productReviewMoreBtn {
    width: 16px;
    height: 16px;
}
.productPrice {
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin: 10px 0 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}
.productPriceDiscountPercentUnitAmount {
    color: #6200f0;
    margin-right: 1K0px;
}
.productPriceSales {
    display: flex;
    justify-content: center;
    align-items: center;
}
.productPriceSales .unit {
    font-size: 18px;
}
.productPriceOriginAmount {
    font-size: 15px;
    color: #bebebe;
    text-decoration: line-through;
}
.earnPoint {
    font-size: 12px;
    color: #9b9b9b;
}

/* dropdown */
.dropdownCoverSelector {
    position: relative;
    cursor: pointer;
}
.dropdownSelect {
    margin-top: 26px;
    border: 1px solid #e1e1e1;
    padding: 12px 20px;
    width: 358px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdownSelectLabel,
.dropdownOpenLabel {
    font-size: 14px;
    letter-spacing: -0.5px;
    overflow: hidden;
}
.dropdownSelect > img {
    width: 12px;
    height: 12px;
}
.dropdownBox {
    font-size: 14px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
}
.dropdownBox p {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 20px;
    width: 358px;
}

.selectedProductOptionList {
    margin: 10px 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 300px;
}
.selectedOptionItem {
    display: none;
    padding: 16px;
    border-radius: 2px;
    background: #f8f8f8;
}
.optionBoxTop {
    display: flex;
    justify-content: space-between;
}
.optionName {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.5px;
    word-break: break-all;
}
.deleteOptionBtn {
    margin-left: 24px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.productOptionQuantity {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.countWrap {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
}
.originalAmount {
    display: none;
}
.countWrap > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.countWrap .count {
    font-family: "Barlow", sans-serif;
    margin: 0px 6px;
    width: 40px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.amountWrap .amount {
    margin-right: 1px;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.amountWrap .unit {
    font-size: 14px;
    font-weight: 500;
}

.productTotalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 24px 10px;
}

.productTotalPrice .label {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.amountWrap {
    font-weight: bold;
}
.amountWrap .amount {
    font-family: "Barlow", sans-serif;
}

/* ��ٱ���, �����ϱ� */
.productBuyBtnList {
    display: flex;
    gap: 10px;
}
.productBuyBtnList > button {
    width: 100%;
    height: 37px;
    border-radius: 2px;
}
.addCartBtn {
    background: rgb(247, 247, 247);
}
.purchase {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.addCartForm {
    display: none;
}

/* �Ʒ�ĭ : ��ǰ �� ����*/
.bottomSection {
    margin: 80px auto;
    width: 1000px;
}
.productDetailSectionHead {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.productDetailInfoItemLabel {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3px;
    width: 70px;
}
.productDetailInfoItemContents {
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 22px;
    color: rgb(155, 155, 155);
}
.productDetailInfoItem {
    display: flex;
    align-items: center;
    gap: 10px;
}
.productDetailSectionContents {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* ��ǰ ���� �ı� */
.productReviewSection {
    margin-top: 80px;
    display: block;
}
.reviewSectionTitle,
.infoSectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: #000 solid 1px;
}
.reviewSectionTitle > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.togglePhoto {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
    padding: 0;
    background-image: url("./img/uncheck_round_icon.png");
    background-size: cover;
    cursor: pointer;
}
.togglePhoto:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
    padding: 0;
    background-image: url("./img/check_round_purple_icon.png");
    background-size: cover;
    cursor: pointer;
}
.selectSortingTypeList > label > span {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;
    vertical-align: top;
    cursor: pointer;
}
.reviewBtnDescribe {
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: rgb(155, 155, 155);
}
.reviewBtnDescribe span {
    color: #000;
}
.reviewBtnArea button {
    width: 65px;
    height: 30px;
    background-color: black;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
}
.productReviewList {
    display: flex;
    flex-direction: column;
}
.productReviewList > a {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: solid 1px #eee;
}
.reviewInfo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 16px;
}
.rate > img {
    width: 12px;
    height: 12px;
}
.accountAndDate {
    display: flex;
    gap: 6px;
    color: #9b9b9b;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.5px;
}
.reviewContent {
    max-width: 800px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.5px;
}

/* ����� ��ǰ */
.recommendProductSection {
    margin-top: 80px;
}
.recommendProductSectionTitle {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 32px;
    margin-bottom: 20px;
}
.swiperWrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.swiperWrapper > article {
    display: flex;
    width: 180px;
    overflow: hidden;
}
.productListSlider {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.productListItemImg {
    width: 180px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.productListItemImg > img {
    width: 180px;
    height: 180px;
    border-radius: 2px;
}
.productListItemImg .productName {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.5px;
    margin: 0;
}
.productPrice .price {
    color: #000;
    font-family: "Barlow" sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.productPrice .won {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.5px;
}
.productPrice .discount {
    font-family: "Barlow" sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(98, 0, 240);
    margin-right: 2px;
}

/*
.swiperPagination{
    position: absolute;
    text-align: center;
    transform: translateZ(0);
    z-index: 10;
}
.swiperPaginationBullet{
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 950px;
    height: 10px;
    background-color: rgb(0,0,0);
    border: 0px;
    margin: 0px;
    border-radius: 0px;
}



/* info modals */
body {
    position: relative;
}
section.modalWindow {
    display: none;
    position: absolute;
    z-index: 20;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
}
div.modalBackground {
    position: sticky;
    top: 80px;
    width: 100%;
    max-height: calc(100vh - 80px);
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}
.infoModal {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: calc(100vh - 80px);
    border-radius: 2px;
    background-color: #fff;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
}
.stickyTitle {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 26px 24px;
}
.infoModalContent {
    overflow-y: scroll;
    padding: 0 24px 26px;
}
.infoModal > div:nth-child(4) {
    border-bottom: none;
}
.infoModal h2 {
    font-weight: 700;
    font-size: 16px;
}
.infoModalContent .paddingBottom {
    padding-bottom: 26px;
    border-bottom: 1px solid rgb(237, 237, 237);
}
.infoModalContent h2 {
    padding-top: 26px;
    border-top: 1px solid rgb(237, 237, 237);
}

.infoModal h3 {
    margin-bottom: 8px;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.infoModal h3:first-child {
    margin-top: 0;
}
.infoModal p {
    font-size: 13px;
    color: rgb(102, 102, 102);
    line-height: 22px;
}

/* review modal */
.photoUploadBtn,
.reviewWriteBtn {
    width: 80px;
    height: 35px;
    font-size: 13px;
    letter-spacing: -0.3px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    background-color: #000;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.photoUploadBtn,
.reviewWriteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewWriteBtn {
    width: 100%;
    padding: 20px 0;
}
.reviewModal {
    position: absolute;
    width: 500px;
    min-height: 550px;
    border-radius: 2px;
    background-color: #fff;
    padding: 0 24px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
}
.reviewModal > div {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    border-bottom: 1px solid rgb(237, 237, 237);
}
.reviewModal > div:nth-child(4) {
    border-bottom: none;
}

.reviewModal h2 {
    font-weight: 700;
    font-size: 16px;
}
.modalCloseBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.reviewStars {
    display: flex;
    gap: 10px;
}
.reviewStarIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.reviewWriteDiv {
    flex-direction: column;
    gap: 18px;
}
.reviewWriteDiv textarea {
    overflow-y: scroll;
    outline: none;
    border: medium none;
    resize: none;
    height: 162px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.5px;
}
.reviewPhotoDiv {
    padding-left: 0;
}
.reviewPhotoDiv span {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #9b9b9b;
    align-self: center;
}
.photoUploadInput {
    display: none;
}
.hiddenInputs {
    display: none;
}
.reviewWriteBtn {
    background-color: #ddd;
    cursor: default;
}
